//                  _         _                   
//    __ ___      _| | ___ __| |_ ___ ____________
//   / _` \ \ /\ / / |/ / '__| __/ _ \_  /_  /_  /
//  | (_| |\ V  V /|   <| |  | ||  __// / / / / / 
//   \__, | \_/\_/ |_|\_\_|   \__\___/___/___/___|
//      |_|                                       

// Code is licensed under MIT unless otherwise specified.
// https://opensource.org/license/mit/
// (c) t.me/qwkrtezzz

module.exports = {
  OWNER_IDS: ["ID_OF_YOUR_ACCOUNT_IN_DISCORD"],
  SUPPORT_SERVER: "LINK_ON_SERVER",
  SUPPORT_SERVER_ID: "ID_OF_SUPPORT_SERVER",
  BOT_NAME: "NAME_OF_BOT",
  VERSION_MANAGEMENT_SYMBOL: "SYMBOL_OF_VERSION",
  PREFIXES: {
    DEFAULT: "DEFAULT_PREFIX",
    DEBUG: "DEBUG_PREFIX",
    DEFAULT: !process.env.DEBUG ? "DEFAULT_PREFIX" : "DEBUG_PREFIX"
  },
  EMBED_COLORS: {
    BOT_EMBED: "#F5DE43",
    SUCCESS: "#00A56A",
    ERROR: "#D61A3C",
    WARNING: "#F7E919",
  },
  PRESENCE: {
    ENABLED: false, // if you wanna turn on presence status, type "true"
    STATUS: "STATUS_OF_BOT", 
    TYPE: "TYPE_OF_ACTIVITY",
    MESSAGE: "MESSAGE_IN_STATUS",
  }
};